.winners {
  color: rgb(var(--dark-shadow));

  &__title {
    margin: 0;
    margin-bottom: var(--spacing-m);
  }
  &__movies {
    &:not(:last-child) {
      margin: 2rem;
    }
  }
  &__text {
    &--category {
      margin-bottom: 1rem;
      font-size: 2.2rem;
      font-weight: bold;
    }
    &--movie {
      font-size: 1.8rem;
    }
  }
}
