.card {
  background-color: var(--dark-primary-color);
  transition: all 0.2s;
  display: grid;
  grid-template-rows: minmax(4rem, max-content);
  align-items: center;
  justify-items: center;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
  border: var(--border-wide);
  border-radius: 5px;
  box-shadow: var(--card-shadow);

  &:hover {
    background-color: var(--dark-primary-color-hover);
  }

  &--selected {
    background-color: var(--dark-primary-color-hover);
    box-shadow: var(--card-shadow-selected);
    transform: scale(1.08);
  }

  &__title {
    padding: 0;
  }

  &__photo {
    max-height: 200px;
    border: var(--border-slim);
    transition: all 0.2s;

    &:hover {
      transform: scale(1.18);
    }
  }
}
