.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--dark-shadow), 0.5);

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
  }

  &__close {
    position: fixed;
    top: 12rem;
    right: 12rem;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover {
      box-shadow: none;
      background-color: transparent;
    }
  }

  &__content {
    background-color: var(--dark-text-color-hover);
    margin: var(--spacing-xl);
    padding: var(--spacing-m);
    box-shadow: var(--modal-shadow);
    border-radius: 5px;
  }
}
